body{
    width:100%;
    font-family:'Courier New', Courier, monospace;
    font-size:calc(11px + 1.5vw);
    background-color: gray;
    padding: 10px;
}
@media only screen and (min-width: 600px) {
    body{
        background-color:black;
        font-size:1vw;}
    }
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color:black;
    font-size: calc(16px + 4vw);
    width: 100%;
    text-align: center;   
    display: block;
    margin-left: auto;
    margin-right: auto;
    Opacity: 0.5;}
h3{
    font-size:calc(14px + 1vw);
}
ul{
    list-style-type: circle;
    width: 100%;
    padding: 0px 10px 0px 10px;
}
@media only screen and (min-width: 600px) {
    ul{
        color:white;
        padding: 0px 10px 0px 10px;}
    }
img{
    float:right;
    vertical-align: bottom;
    width:100%;
    height:auto;
    margin: 0px 10px 10px 20px;
    border-color: black;
    border-style: solid;
    border-width: 0,1vw;
}
@media only screen and (min-width: 600px) {
    img{
        max-width: 350px;}
}
[class*="col-"]{
    width:100%;
}
@media only screen and (min-width: 600px) {
[class*="col-"]{
    float:left;
    padding:15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
.header{
    height: auto;
    width: 100%;
    min-height: 200px;
    background-image: url(images/Utrecht2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;   
}
.footer{
    background-color: white;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
}
.attracties{
    background-color: silver;
    background-size: cover;
    padding: 5px 10px 25px 20px;
    width: 100%;
    height:min-content;
}
